/* You can add global styles to this file, and also import other style files */
#playing-cards{
    display:flex;
    height: 100vh;
    justify-content:center;
    align-items: center;
    flex-wrap:wrap;
    gap:20px;
}

.card-black{
    height: 200px;
    width:150px;
    border:solid black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

}

.card-red{
    height: 200px;
    width:150px;
    border:solid black;
    color:red;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

}

.left{
    align-self:flex-start;
}

.middle{
    display:flex;
    flex-direction:column;
    align-self:center;
}

.right{ 
    align-self:flex-end;
}